<div class='row'>
	<div class='large-12 columns'>
		
		<div class="small-6 large-centered columns">

<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form'}) do |f| %>

<%= f.error_notification :class => "error" %>

<div class="row collapse">
	<div class="small-1 columns"><span class="prefix"><span class="icon-user"></div>

	<div class="small-11 columns"> 
		<%= f.input :name, label: false, :placeholder => "Name" %>
	</div>

	<div class="small-1 columns"><span class="prefix"><span class="icon-envelope"></div>
	<div class="small-11 columns">
			<%= f.input :email, label: false, :placeholder => "E-mail"%>
	</div>

	<div class="small-1 columns"><span class="prefix"><span class="icon-lock"></div>
		<div class="small-11 columns">
		<%= f.input :password, label: false, :placeholder => "Password"%>
	</div>

  <div class="large-12 columns">
  	<%= f.submit "REGISTER", class: "button prefix" %>
  </div>
</div>
<% end %>
</div>
</div>
</div>

