<div class='row'>
	<div class='large-12 columns'>
		
		<div class="small-6 large-centered columns">

		<h2>Change your password</h2>

		<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { :method => :put, :multipart => true, class: 'form'}) do |f| %>

			<div class="row collapse">

		  <%= f.hidden_field :reset_password_token %>

		  <div class="small-1 columns"><span class="prefix"><span class="icon-lock"></div>
				<div class="small-11 columns">
				<%= f.input :password, label: false,:placeholder => "New Password", autocomplete: "off"%>
			</div>

			<div class="small-1 columns"><span class="prefix"><span class="icon-lock"></div>
				<div class="small-11 columns">
				<%= f.input :password, label: false,:placeholder => "Password Confirmation", autocomplete: "off"%>
			</div>

		  <div class="large-12 columns">
		  	<%= f.submit "SUBMIT", class: "button prefix" %>
		  </div>
			<% end %>
		</div>
	</div>
</div>