<!-- Modal --> 
<div class="modal fade" id="project-share-modal-<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>Share your presentation:</h2>
      </div>
      <div class="modal-body">
        <script>
        $( document ).ready(function() {

         var share_url = $( "#project-share-<%= project.id -%>" ).data( "share" );

         $('#project-share-<%= project.id -%>').share({
            networks: ['facebook','twitter','linkedin'],
            theme: 'square',
            text: "Check out Podium! A simpler way to share your presentations",
            urlToShare: share_url
          });
        });
        </script>


        <div id="project-share-<%= project.id -%>" data-share="<%= project_url(project) -%>"></div>
        <%= form_for "#" do |f| %>
          <strong><%= f.label 'Presentation Link:' %></strong>
        <% end %> 
        <div class="form-group refer">

        <%= form_for "#" do |f| %>
          <%= f.text_field '', :class => "form-control", :readonly => "readonly", :onClick =>"this.setSelectionRange(0, this.value.length)", :value => project_url(project) %>
        <% end %> 
        </div>



      </div>
    </div>
  </div>
</div>