
<%= simple_form_for @project, :html => {:multipart => true, class: 'form'} do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

<div class="section-container accordion" data-section="accordion">
  <section>
    <div class="bar"></div>
    <p class="title" data-section-title><a href="#"><i class="icon-cog"></i><span>Settings</span></a></p>
    <div class="content" data-section-content>
      <p><%= f.input :description, label: "Title" %></p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-exchange"></i><span>Slide Transitions<span></a></p>
    <div class="content" data-section-content>

        <div class="row">
          <div class="small-8 columns">
              <div id="example-slide">
              </div>
              <select id="customDropdown" class="medium">
                <option DISABLED>Select a Transition</option>
                <option>Default</option>
                <option>This is another option too</option>
                <option>Look, a third option</option>
              </select>
          </div>
        </div>

    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-group"></i><span>Share</span></a></p>
    <div class="content" data-section-content>
      <p>Embed</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-play-circle"></i><span>Autoplay<span></a></p>
    <div class="content" data-section-content>
      <div class="small-3 switch small">
      <input id="x" name="switch-x" type="radio" checked>
      <label for="x" onclick="">Off</label>

      <input id="x1" name="switch-x" type="radio">
      <label for="x1" onclick="">On</label>

      <span></span>
    </div>
    </div>
  </section>
   <section>
    <p class="title" data-section-title><a href="#"><i class="icon-unlock-alt"></i><span>Make Private</span><span class="pro">PRO</span></a></p>
    <div class="content" data-section-content>
      <div class="row collapse">
        <div class="small-9 columns">
           <%= f.input :private %>
        <!--   <input type="text" placeholder="Password"> -->
        </div>
        <div class="small-3 columns">
          <span class="postfix radius"><i class="icon-lock"></i></span>
        </div>
      </div>
    </div>
  </section>
 
   
</div>
  
  <div class="form-actions">
    <%= f.button :submit, "Save", class: "medium button prefix success" %>
  </div>
<% end %>


  