
<%= simple_form_for @project, :html => {:multipart => true, class: 'form'} do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

<div class="section-container accordion" data-section="accordion">
  <section>
    <div class="bar"></div>
    <p class="title" data-section-title><a href="#"><i class="icon-cog"></i><span>Settings</span></a></p>
    <div class="content" data-section-content>
      <p><%= f.input :description, label: "Title" %></p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-group"></i><span>Share</span></a></p>
    <div class="content" data-section-content>
      <p>Embed</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-play-circle"></i><span>Autoplay<span></a></p>
    <div class="content" data-section-content>
      <p>Autoplay</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-music"></i><span>Music</span></a></p>
    <div class="content" data-section-content>
      <p>Add a Music File</p>
    </div>
  </section>
   <section>
    <p class="title" data-section-title><a href="#"><i class="icon-exchange"></i><span>Slide Transitions<span></a></p>
    <div class="content" data-section-content>
      <p>Dropdown List of CSS3 Transitions</p>
    </div>
  </section>
   <section>
    <p class="title" data-section-title><a href="#"><i class="icon-unlock-alt"></i><span>Make Private<span></a></p>
    <div class="content" data-section-content>
      <p>Password Protect</p>
    </div>
  </section>
 
   
</div>
  
  <div class="form-actions">
    <%= f.button :submit, class: "medium button prefix" %>
  </div>
<% end %>

<%= form_for @upload do |f| %>
  <div>
    <%= f.label :filepicker_url, "Upload Your Avatar:" %>
    <%= f.filepicker_field :filepicker_url %> <!-- User#filepicker_url is a regular string column -->
  </div>

  <%= f.submit %>
<% end %>


  