
<%= simple_form_for @project, :html => {:multipart => true, class: 'form'} do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

<div class="section-container accordion" id="3" data-section="accordion">
  <section>
    <div class="bar"></div>
    <p class="title" data-section-title><a href="#"><i class="entypo-cog"></i><span>Settings</span></a></p>
    <div class="content" data-section-content>
      <p><%= f.input :description, label: "Title" %></p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="entypo-switch"></i><span>Slide Transitions<span></a></p>
    <div class="content" data-section-content>

        <div class="row">
          <div class="small-8 centered columns">
              <div id="example-slide">
              </div>

              <select name="project[transition]" id="customDropdown1" class="medium">
                <option DISABLED>Select a Transition</option>
                <option value="69">None</option>
                <option DISABLED>MOVE</option>
                <option value="1">Move to left/ from right</option>
                <!-- <option value="2">Move to right/ from left</option> -->
                <option value="3">Move to top/ from bottom</option>
                <!-- <option value="4">Move to bottom/ from top</option> -->
                <option DISABLED>FADE</option>
                <option value="71">Fade</option>
                <option value="5">Fade / from right</option>
                <!-- <option value="6">Fade / from left</option> -->
                <option value="7">Fade / from bottom</option>
                <!-- <option value="8">Fade / from top</option> -->
                <option value="9">Fade left / Fade right</option>
                <!-- <option value="10">Fade right / Fade left</option> -->
                <option value="11">Fade top / Fade bottom</option>
                <!-- <option value="12">Fade bottom / Fade top</option> -->
                <option DISABLED>SCALE</option>
                <option value="17">Scale down / from right</option>
                <!-- <option value="18">Scale down / from left</option> -->
                <option value="19">Scale down / from bottom</option>
                <!-- <option value="20">Scale down / from top</option> -->
                <option value="21">Scale down / scale down</option>
                <!-- <option value="22">Scale up / scale up</option> -->
                <option value="23">Move to left / scale up</option>
                <!-- <option value="24">Move to right / scale up</option> -->
                <option value="25">Move to top / scale up</option>
                <!-- <option value="26">Move to bottom / scale up</option> -->
                <option value="27">Scale down / scale up</option>
                <option DISABLED>ROTATE</option>
                <option value="28">Glue left / from right</option>
                <!-- <option value="29">Glue right / from left</option> -->
                <option value="30">Glue bottom / from top</option>
                <!-- <option value="31">Glue top / from bottom</option> -->
                <option value="32">Flip right</option>
                <!-- <option value="33">Flip left</option> -->
                <option value="34">Flip top</option>
                <!-- <option value="35">Flip bottom</option> -->
                <!-- <option value="36">Fall</option>
                <option value="37">Newspaper</option> -->
                <option value="38">Push left / from right</option>
                <!-- <option value="39">Push right / from left</option> -->
                <option value="40">Push top / from bottom</option>
                <!-- <option value="41">Push bottom / from top</option> -->
                <option value="42">Push left / pull right</option>
                <!-- <option value="43">Push right / pull left</option> -->
                <option value="44">Push top / pull bottom</option>
                <!-- <option value="45">Push bottom / pull top</option> -->
                <option value="46">Fold left / from right</option>
               <!--  <option value="47">Fold right / from left</option> -->
                <option value="48">Fold top / from bottom</option>
               <!--  <option value="49">Fold bottom / from top</option> -->
                <option value="50">Move to right / unfold left</option>
                <!-- <option value="51">Move to left / unfold right</option> -->
                <option value="52">Move to bottom / unfold top</option>
                <!-- <option value="53">Move to top / unfold bottom</option> -->
                <option value="54">Room to left</option>
                <!-- <option value="55">Room to right</option> -->
                <option value="56">Room to top</option>
                <!-- <option value="57">Room to bottom</option> -->
                <option value="58">Cube to left</option>
                <!-- <option value="59">Cube to right</option> -->
                <option value="60">Cube to top</option>
                <!-- <option value="61">Cube to bottom</option> -->
                <option value="62">Carousel to left</option>
                <!-- <option value="63">Carousel to right</option> -->
                <option value="64">Carousel to top</option>
                <!-- <option value="65">Carousel to bottom</option> -->
                <!-- <option value="66">Sides</option> -->
                <option value="67">Slide</option>
              </select>
              
              <script> 
                $(document).ready(function(){
                  $("#customDropdown1 option[value='<%= @project.transition %>']").attr("selected", "selected")
                })
              </script>
          </div>
        </div>

    </div>
  </section>
  <!-- <section>
    <p class="title" data-section-title><a href="#"><i class="icon-play-circle"></i><span>Autoplay<span></a></p>
    <div class="content" data-section-content>
      <div class="small-3 switch small">
      <input id="x" name="switch-x" type="radio" checked>
      <label for="x" onclick="">Off</label>

      <input id="x1" name="switch-x" type="radio">
      <label for="x1" onclick="">On</label>

      <span></span>
    </div>
    </div>
  </section> -->
   <section>
    <p class="title" data-section-title><a href="#"><i class="icon-unlock-alt"></i><span>Make Private</span><!-- <span class="pro">PRO</span> --></a></p>
    <div class="content" data-section-content>
      <div class="row collapse">
        <%= f.input :private %>
        <div class="small-9 columns">
          <%= f.input :accesskey, label: false, :placeholder => "Password" %>
        </div>
        <div class="small-3 columns password">
          <span class="postfix radius"><i class="icon-unlock"></i></span>
        </div>
      </div>
    </div>
  </section>
 
   
</div>
  
  <div class="form-actions">
    <%= f.button :submit, "Save", class: "medium button prefix secondary" %>
  </div>
<% end %>


  