
<%= simple_form_for @project, :html => {:multipart => true, class: 'form'} do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :description, label: "Title" %>
  <%= f.file_field :image, label: "Upload an image" %>
  <%= f.input :image_remote_url, label: "or enter a URL" %>
  
  <div class="form-actions">
    <%= f.button :submit, class: "button prefix" %>
  </div>
<% end %>




  