
		
		<li>
			<div class="sample-deck">
				<span>
					<% if project.slides.first %>
						<% if project.slides.first.mimetype == "video/mp4" %>
							<%= link_to project do %>
								<video width='100%' height='100%'>
									<source src="<%= project.slides.first.filepicker_url_thumb %>">
								</video>
							<% end %>
						<% else %>
							<% unless project.slides.first.filepicker_url.blank? %>
								<%= link_to (image_tag project.slides.first.filepicker_url_thumb), project, :class => 'sample-img' %> 
							<% else %>
								<%= link_to project do %>
									<div class="blank" id="empty"></div>
								<% end %>
								<script> 
								$(document).ready(function(){
									generateThumb("<%= project.slides.first.embed_code -%>", "<%= project.slides.first.id -%>")
								});
								</script>
							<% end %>
						<% end %>
				  <% else %>
					  <div class="untitled-project">
					  	<i class="icon-folder-open" id="untitled-icon"></i>
					  </div>
					<% end %>
				</span>
		
			<div class="info-box">
				<% if !current_user.filepicker_url_avatar %>
          <%= link_to "<i class='icon-user'></i>".html_safe, current_user, :class => "sample-profile" %>
        <% else %>
					<%= link_to (filepicker_image_tag project.user.filepicker_url_avatar), project.user, :class => "sample-profile" %>
				<% end %>
				<h3>
		    <%= link_to project.description, project %> 
		    </h3>
		    <p>
		    	<%= link_to project.user.name, project.user %>  <%=  %>
		    </p>
	    </div>
			    <ul class="project-tools">
			    		<li><%= link_to(project, method: :delete, data: { confirm: 'Are you sure?' }) do %>
							<span class="delete"><i class="icon-remove" data-tooltip data-options="disable-for-touch:true" data-tooltip class="has-tip tip-bottom" title="Delete"></i></span>
							<% end %></li>
		          <li><%= link_to(edit_project_path(project)) do %>
							<span class="edit"><i class="icon-pencil" data-tooltip data-options="disable-for-touch:true" data-tooltip class="has-tip tip-bottom" title="Edit"></i></span>
							<% end %></li>
					</ul>
    	</div>
    	<span class="updated-at">Updated: <%= localize(project.updated_at, :format => :long) %></span>
   	</li>