
		
		<li>
			<div class="sample-deck">
				<span>
				   <%= link_to (image_tag project.image (:thumb)), project, :class => 'sample-img' %> 
				</span>
		
			<div class="info-box">
				<%= link_to (image_tag "profile_pic.png"), project, :class => 'sample-profile' %>
		    <a href="#"><h3><%= project.description %></h3></a>
		    <a href="#"><p><%= current_user.name %></p></a>
	    </div>

	    <% if current_user == project.user %>
	    <div class="row">
			  <div class="large-6 columns">
			    <ul class="project-tools">
			      <li>
							<button data-dropdown="drop2" class="small secondary radius button dropdown"><i class="icon-wrench"></i></button>	
			     	</li>
			    </ul>
			  </div>
			</div>
	      	<ul id="drop2" data-dropdown-content="" class="f-dropdown open" style="position: absolute; top: 67px; left: 15px;">
		          <li><%= link_to(edit_project_path(project)) do %>
							<span class="edit"><i class="icon-pencil"></i>Edit</span>
							<% end %></li>
		          <li><%= link_to(project, method: :delete, data: { confirm: 'Are you sure?' }) do %>
							<span class="delete"><i class="icon-remove"></i>Delete</span>
							<% end %></li>
		        </ul>
					<% end %>
	
    </div>
   </li>