
		
		<li>
			<div class="sample-deck">
				<span>
				   <%= link_to (image_tag project.image (:thumb)), project, :class => 'sample-img' %>
				</span>
		
			<div class="info-box">
				<%= link_to (image_tag "profile_pic.png"), project, :class => 'sample-profile' %>
		    <a href="#"><h3><%= project.description %></h3></a>
		    <a href="#"><p><%= current_user.name %></p></a>
	    </div>

	    <% if current_user == project.user %>

				<div class="project-tools">
					<%= link_to(edit_project_path(project)) do %>
					<span class="edit"><i class="icon-edit-sign"></i>Edit</span>
					<% end %>

					<%= link_to(project, method: :delete, data: { confirm: 'Are you sure?' }) do %>
					<span class="delete"><i class="icon-remove"></i>Delete</span>
					<% end %>
        </div>
				<% end %>
	
    </div>
   </li>