
		
		<li>
			<div class="sample-deck">
				<span>
					<% if project.slides.first %>
					 <%= link_to (filepicker_image_tag project.slides.first.filepicker_url), :class => 'sample-img' %> 
				  <!--  <%= link_to (image_tag project.image (:thumb)), project, :class => 'sample-img' %>  -->
				  <% else %>
				  	<i class="icon-folder-open"></i>
				  <% end %>
				</span>
		
			<div class="info-box">
				<%= link_to (image_tag "profile_pic.png"), project, :class => 'sample-profile' %>
		    <a href="#"><h3><%= project.description %></h3></a>
		    <a href="#"><p><%= current_user.name %></p></a>
	    </div>
			    <ul class="project-tools">
			    		<li><%= link_to(project, method: :delete, data: { confirm: 'Are you sure?' }) do %>
							<span class="delete"><i class="icon-remove"></i></span>
							<% end %></li>
		          <li><%= link_to(edit_project_path(project)) do %>
							<span class="edit"><i class="icon-pencil"></i></span>
							<% end %></li>
					</ul>
    	</div>
   	</li>