
<%= render "shared/share_modal", project: @project %>

		<div class="modal fade in" id="preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			<a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
			 <div class="modal-dialog modal-lg">
				 <div class="browser-small">
					<div class="browser-bar">
					  <div class="browser-button"></div>
					  <div class="browser-button"></div>
					  <div class="browser-button"></div>
					</div>
					<div class="browser-content">
						<iframe class="iframe-wrapper" title="preview" width="100%" height="100%" src="<%= project_url(@project) %>"></iframe>
					  <!-- <img class="img-responsive" src="https://m1.behance.net/rendition/modules/77583303/hd/bde9f10ae609e1400180c98a1293518b.jpg"></img> -->
					</div>
				</div>
			</div>
		</div>


<div class"container">
	<div class='row'>
		<div class='col-md-2 col-sm-2'>
			<div class='slide-organizer'>
				<p>Slides</p>
				<ol id="slide-sorter" data-update-url="<%= sort_slides_url %>">
					<li class="dropzone2 dropdown-toggle" data-toggle="dropdown" id="1"><i class="entypo-plus"></i><p>Add Media</p></li>
					<ul id="drop2" class="dropdown-menu" role="menu">
						<%= link_to "#" do %>
						<!-- <li class="blank-slide"><i class="icon-file-alt"></i>  Blank Slide</li> -->
						<% end %>
						<li><a class="code" id="code" href="#"><i class="entypo-code"></i>  &nbsp;Embed a Video</a></li>
						<li><a class="filepicker" id="filepicker" href="#"><i class="entypo-video"></i>  &nbsp;Add a Video</a></li>
						<li><a class="filepicker" id="filepicker" href="#"><i class="entypo-camera"></i>  &nbsp;Add an Image</a></li>
						<li><a class="filepicker" id="filepicker" href="#"><i class="entypo-picture"></i> &nbsp;Add a Presentation</a></li>
					</ul>
					<%= render partial: "slides/slide", collection: @slides %>
				</ol>
			</div>
		</div>

		<div class='col-md-7 col-sm-7'>
	
			<div class="dropzone-container">
				<div class="dropzone" id="current-slide" data-project-id="<%= @project.id %>" ><p class='entypo-up-circled'> Drag Files Here</p></div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3">
			<div class="col-md-12 right-menu">
				

					<%= render 'form' %>
					<br>

					<%= link_to('Preview', '#', class: 'btn btn-primary', :'data-toggle' => 'modal', :'data-target' => '#preview') %>  
					<br></br>
					<%= link_to('Share', '#', class: 'btn btn-success', :'data-toggle' => 'modal', :'data-target' => "#project-share-modal-#{ @project.id }") %> 
					<br></br>
					<%= link_to 'Present', @project, class: 'btn btn-default' %> 
			</div>
		</div>
	</div>
</div>




