<div class='row'>
	<div class='small-6 large-offset-3 columns'>
		<%= render "shared/share_modal", url: project_url(@project) %>
</div>

<div class='row'>
<div class="small-2 columns">
		<div class='slide-organizer'>
			<p>Slides</p>
			<ol id="slide-sorter" data-update-url="<%= sort_slides_url %>">
				<li class="dropzone2" data-dropdown="drop2" id="1"><i class="icon-plus"></i><p>Add Media</p></li>
					<ul id="drop2" class="f-dropdown content" data-dropdown-content>
						<%= link_to "#" do %>
			  	  	 <!-- <li class="blank-slide"><i class="icon-file-alt"></i>  Blank Slide</li> -->
			  	  <% end %>
			  	  <li><a class="code" id="code" href="#"><i class="icon-code"></i>  Embed a Video</a></li>
			  	  <li><a class="filepicker" id="filepicker" href="#"><i class="icon-film"></i>  Add a Video</a></li>
					  <li><a class="filepicker" id="filepicker" href="#"><i class="icon-picture"></i>  Add an Image</a></li>
					   <li><a class="filepicker" id="filepicker" href="#"><i class="icon-file"></i>  Add a Presentation</a></li>
					</ul>
				<%= render partial: "slides/slide", collection: @slides %>
			</ol>
		</div>
	</div>

<div class="small-6 large-7 columns">

		<div id="preview" class="reveal-modal large" data-reveal>
	  	<iframe seamless="seamless" title="preview" width="960" height="540" src="<%= project_url(@project) %>"></iframe>
		  <a class="close-reveal-modal">&#215;</a>
		</div>

		<div class="dropzone-container">
			<div class="dropzone" id="current-slide" data-project-id="<%= @project.id %>" ><p class='entypo-up-circled'> Drag Files Here</p></div>
		</div>
	</div>
	<div class="small-4 large-3 columns">
		<div class="right-menu">

		<%= render 'form' %>

		<%= link_to('Preview', '#', class: 'button medium button prefix preview', :'data-reveal-id' => 'preview') %> 
		<%= link_to('Share', '#', class: 'share medium button prefix preview success', :'data-reveal-id' => 'share_modal') %> 
		<%= link_to 'Present', @project, class: 'button medium button prefix present' %> 
		</div>
	</div>
</div>

<!-- <ol class="joyride-list" data-joyride>
  <li data-id="1" data-text="NEXT">
  	<h4>Great!</h4>
    <p>You created your first deck, now lets add some slides. Go ahead and click <strong>Add New Slide</strong> and choose a PPT, PDF or a collection of JPG's, PNG's or even MP4's.</p>
  </li>
  <li data-id="2" data-text="NEXT">
  	<h4>Nice!</h4>
    <p>Now that you have added some slides you can organize them by clicking and dragging them into the right order.</p>
  </li>
  <li data-id="3" data-button="NEXT" data-options="tipLocation:top;tipAnimation:fade">
    <h4>Almost Done!</h4>
    <p>Go ahead and confirm your settings, choose a transition, set autoplay, or protect your presentation from public view.</p>
  </li>
  <li data-button="END">
    <h4>Your Done!</h4>
    <p>Now click SAVE and then click PREVIEW to see your presentation.</p>
  </li>
</ol> -->


<script type="text/javascript">
	$(document).foundation('joyride', 'start');
</script>



