
	
		<div class="row padding-top">
			<div class="col-md-3 col-sm-3 col-sm-push-9 col-lg-push-9">
				<!-- <div class="panel">
					<div class="stats">
						<li><i class="icon-eye-open"></i><%= Project.sum('clicks') %> <small>Views</small></li>
						<li><i class="icon-group"></i>800 <small>Shares</small></li>
		    	</div>
				</div> -->
				<div class="col-md-12">
					<%= link_to "Upload", new_project_path, :class => 'btn btn-success' %>
					<br></br>
					<div class="panel secondary refer">
						<div class="panel-body">
							<p>Refer a friend and get an extra presentation</p>
							<%= form_for "#" do |f| %>
							<strong><%= f.label 'Your Referral Link' %></strong>
							<div class="form-group">
								<%= f.text_field '', :class => "form-control", :readonly => "readonly", :onClick =>"this.setSelectionRange(0, this.value.length)", :value => root_url(:referral => "podium-#{current_user.id}")%>
							</div>
							<% end %>

							<script>
							$( document ).ready(function() {

								var referral_url = $( "#referral" ).data( "referral" );

								$('#referral').share({
									networks: ['facebook','twitter','linkedin'],
									theme: 'square',
									urlToShare: referral_url
								});
							});
							</script>

							<div id="referral" data-referral="<%= root_url(:referral => "podium-#{current_user.id}")%>"></div>
							<small>*Presentations will only be added if the referred user signs up.</small>

						</div>
					</div>		
					<div class="input-group">
			      <%= form_tag projects_path, :method => 'get', :id => "projects_search" do %>
						<%= text_field_tag :search, params[:search], :class=> "form-control", :placeholder => 'Search Presentations' %>
						<% end %>
			      <span class="input-group-btn">
			         <button class="btn btn-primary" type="button"><i class='entypo-search'></i></button>
			      </span>
			    </div><!-- /input-group -->
			  </br>
				</div>
			</div>
			<div class="col-md-9 col-sm-9 col-sm-pull-3 col-lg-pull-3">
		    	<%= render @projects %>
			<%= will_paginate @projects %>
			</div>
		</div>







