
		<div class="row">
			<div class="small-9 columns">
			  <ul class="small-block-grid-3">
			  	<li>
			  		<div class="add-project">
			  	  	<%= link_to new_project_path do %>
			  	  	<p><i class='icon-plus'></i>Upload</p>
			  	  	<% end %>
			  		</div> 
					</li>
			    	<%= render @projects %>
				</ul>
				<%= will_paginate @projects %>
			</div>
			<div class="small-3 columns">
				<!-- <div class="panel">
					<div class="stats">
						<li><i class="icon-eye-open"></i><%= Project.sum('clicks') %> <small>Views</small></li>
						<li><i class="icon-group"></i>800 <small>Shares</small></li>
		    	</div>
				</div> -->
	      <div class="row collapse">
	        <div class="small-9 columns">
	          <%= form_tag projects_path, :method => 'get', :id => "projects_search" do %>
						    <%= text_field_tag :search, params[:search], :placeholder => 'Search Decks' %>
	        </div>
	       	<div class="small-3 columns">
	       		<button class='button prefix' style='width:52px;height:2.9em;'>
						  <i class='icon-search'></i>
						</button>
	        	<% end %>
	        </div>
    		</div>
    		<div class="small-11 columns">
	    		<div class="panel secondary">
	  				<p>Refer your friends and get an extra project:</p>
						  <%= form_for "#" do |f| %>
							  <strong><%= f.label 'Your Referral Link' %></strong>
							  <%= f.text_field '', :value => request.original_url, disabled: true %>
							<% end %>
						<%= social_share_button_tag(current_user.name, :url => request.original_url) %><br />
						<!-- DISCUSS ROOT_URL WITH SWIFT!!!! -->
					</div>		
				</div>			
		</div>
		<!-- TUTORIAL -->
	
		<!-- <ol class="joyride-list" data-joyride>
		  <li data-button="START">
		    <h4>Welcome to Podium</h4>
		    <p>Let's begin by creating our first slide presentation, go ahead and click <strong>Add New Deck</strong></p>
		  </li>
		</ol> -->

		<script type="text/javascript">
		  $(document).foundation('joyride', 'start');
		</script>






