
		<div class="row">
			<div class="small-9 columns">
			  <ul class="small-block-grid-3">
			  	<!-- <li>
			  		<div class="add-project">
			  	  	<%= link_to new_project_path do %>
			  	  	<p><i class='icon-plus'></i>Upload</p>
			  	  	<% end %>
			  		</div> 
					</li> -->
			    	<%= render @projects %>
				</ul>
				<%= will_paginate @projects %>
			</div>
			<div class="small-3 columns">
				<!-- <div class="panel">
					<div class="stats">
						<li><i class="icon-eye-open"></i><%= Project.sum('clicks') %> <small>Views</small></li>
						<li><i class="icon-group"></i>800 <small>Shares</small></li>
		    	</div>
				</div> -->
	      <div class="row collapse">
	     	<%= link_to "Upload", new_project_path, :class => 'button medium button prefix preview success' %>
    		<div class="panel secondary refer">
  				<p>Refer a friend and get an extra presentation</p>
					  <%= form_for "#" do |f| %>
						  <strong><%= f.label 'Your Referral Link' %></strong>
						  <%= f.text_field '', :value => root_url(:referral => "podium-#{current_user.id}"), disabled: true %>
						<% end %>

						<script>
						$( document ).ready(function() {

							var referral_url = $( "#referral" ).data( "referral" );

							$('#referral').share({
		        		networks: ['facebook','twitter','linkedin'],
		        		theme: 'square',
		        		urlToShare: referral_url
	        		});
						});
        		</script>
    				
    			<div id="referral" data-referral="<%= root_url(:referral => "podium-#{current_user.id}")%>"></div>
    			<small>*Projects will only be added if the referred user signs up.</small>
			
				</div>		
				 <div class="small-9 columns">
	          <%= form_tag projects_path, :method => 'get', :id => "projects_search" do %>
						    <%= text_field_tag :search, params[:search], :placeholder => 'Search Decks' %>
	        </div>
	       	<div class="small-3 columns">
	       		<button class='button prefix' style='width:52px;height:2.9em;'>
						  <i class='icon-search'></i>
						</button>
	        	<% end %>
	        </div>
    		</div>	
		</div>
		<!-- TUTORIAL -->
	
		<!-- <ol class="joyride-list" data-joyride>
		  <li data-button="START">
		    <h4>Welcome to Podium</h4>
		    <p>Let's begin by creating our first slide presentation, go ahead and click <strong>Add New Deck</strong></p>
		  </li>
		</ol> -->

		<script type="text/javascript">
		  $(document).foundation('joyride', 'start');
		</script>






