

<!-- Hide Safari Browser bar on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link href="assets/favicon.png" sizes="72x72" rel="apple-touch-icon">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

<!-- Preloader -->
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
	
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
			<%= render "shared/share_modal", project: @project %>
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>

			<%= render "modals/embed_modal", project: @project %>

		</div>
	</div>

	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>

			<%= render "modals/screenshare_modal", project: @project %>

		</div>
	</div>

<div class="slide-nav" id="slide-nav">
	<div class="scroller" style="position: absolute;">
	<!-- 		Slide Navigator -->
  <ul>
		<% @project.slides.order("position").each_with_index do |slide, i| %>
		 	<li data-position="<%= i %>">
				<% if slide.mimetype == "video/mp4" %>
					<video width='101px' height='57px'>
						<source src="<%= slide.filepicker_url %>">
					</video>
				<% else %>
					<img src="<%= slide.filepicker_url %>">
				<% end %>
			</li>
		<% end %>					 
	</ul>
  </div>
</div>

<div class="row presentation-wrapper">

	<div class="col-sm-1 col-xs-2">
		<% if current_user.present? %>
			<a href="javascript:history.back()" class="control"><i class='entypo-left'></i></a>
		<% end %>
		<a href="#" class="control slide-nav-open"><i class='entypo-layout'></i></a>
	</div>

	<div class="col-sm-10 col-xs-8 center-block column-center">
		<div class="row row-center">
			<div class="col-sm-12 col-xs-12 column-center"> 

				<div id="pt-main" style="display:none;" class="pt-perspective">
					<% @project.slides.order("position").to_enum.with_index(1).each do |slide, index| %>
						<div class="pt-page" data-transition="<%= @project.transition %>">

							<!-- Slide Numbers -->
						 <div id='slide-number' data-slidenumber='<%= index %>' data-slidecount='<%= @project.slides.count %>'><%= index %></div> 
						  
							
							<% if slide.mimetype == "video/mp4" %>
								<video width='100%' height='100%' autoplay="autoplay">
									<source src="<%= slide.filepicker_url %>">
								</video>
							<% else %>
								<% unless slide.filepicker_url.blank? %>
									<img class="scale" data-scale="best-fit" data-align="center" data-adaptive-background='1' cross-origin="anonymous" src="<%= slide.filepicker_url %>">
								<% else %>
									<div class="blank" id="slide-<%= slide.id -%>">
										<div id="iframe-swiper"></div>
									</div>

									<% if slide.embed_code =~ /^#{URI::regexp}$/%>
								
										<script>
										$(document).ready(function() {
									    var pop = Popcorn.smart( "#slide-<%= slide.id -%>", "<%= slide.embed_code %>" );
									  
									     var playing = false;
									     $( "body" ).on( "change-slide", function() {
									    
									     	if($("#slide-<%= slide.id -%>").parent(".pt-page").hasClass('pt-page-current')) { 
									     		playing = true;
									     	 	pop.play(); //Autoplay on slide reveal.
										     } else {
										     	
										     	if(playing) { //pause and reset current time to 0 if you switch slides.
										     	  pop.pause();
										     	  pop.currentTime(0);
										     	  console.log("paused")
										     	  playing = false;
										     	}
										     }
									     });
									   });
										</script>
									<% end %>
								<% end %>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		<div class="row row-center">
			<div class="col-sm-12 col-xs-12 controls-column-center center-block text-center">
				<a href="#" class="control control-inline"><i class='entypo-left-open-big'></i></a>
				<span class="slidecounter"><span class="slidenumber"></span><span>/</span><span class="slidecount"></span></span>
				<a href="#" class="control control-inline"><i class='entypo-right-open-big'></i></a>
				<a href="#" class="control control-inline expand"></a>
			</div>
		</div>
	</div>	

	<div class="col-sm-1 col-xs-2">
		<a href="#" data-toggle='modal' data-target="#embed_modal" class="control"><i class='entypo-code'></i></a>
		<a href='#' data-toggle='modal' data-target='#project-share-modal-<%= @project.id %>' class="control"><i class='entypo-paper-plane'></i></a>
		<a href="#" data-toggle='modal' data-target="#screenshare_modal" class="control"><i class='entypo-mic'></i></a>
		<% if @project.download == true %>
			<a href="<%= @project.original_download_url %>" class="control"><i class='entypo-down-circled'></i></a>
		<% end %>
	</div>	
</div>	

	<script>
		var slide = document.getElementById('slide-number');
	  var slidenumber = slide.getAttribute('data-slidenumber');
	  var slidecount = slide.getAttribute('data-slidecount');

	  $(".slidenumber").html(slidenumber);
	  $(".slidecount").html(slidecount);

	</script>
		
	        <!-- Preloader -->
	<script type="text/javascript">
	//<![CDATA[
	  $(window).load(function() { // makes sure the whole site is loaded

			$("#status").fadeOut(); // will first fade out the loading animation
			var opts = {
			lines: 13, // The number of lines to draw
			length: 1, // The length of each line
			width: 5, // The line thickness
			radius: 13, // The radius of the inner circle
			corners: 1, // Corner roundness (0..1)
			rotate: 0, // The rotation offset
			direction: 1, // 1: clockwise, -1: counterclockwise
			color: 'white', // #rgb or #rrggbb or array of colors
			speed: 1, // Rounds per second
			trail: 60, // Afterglow percentage
			shadow: false, // Whether to render a shadow
			hwaccel: false, // Whether to use hardware acceleration
			className: 'spinner', // The CSS class to assign to the spinner
			zIndex: 2e9, // The z-index (defaults to 2000000000)
			top: 'auto', // Top position relative to parent in px
			left: 'auto' // Left position relative to parent in px
			};
			var target = document.getElementById('status');
			var spinner = new Spinner(opts).spin(target);
			$("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website.
			$("#pt-main").fadeIn('slow');

	  })
	//]]>
	$(".navbar").hide();
	</script>

	<script>
	 $(document).ready(function(){
		 	var element = document.getElementById('pt-main');
	    var swipeleft = Hammer(element).on("swipeleft", function(event) {
	        $(".entypo-right-open-big").click();
	        console.log("swipe left");
	    });

	    var swiperight = Hammer(element).on("swiperight", function(event) {
	        $(".entypo-left-open-big").click();
	        console.log("swipe left");
	    });

	    var element2 = document.getElementById('iframe-swiper');
	    var iswipeleft = Hammer(element).on("swipeleft", function(event) {
	        $(".entypo-right-open-big").click();
	    });

	    var iswiperight = Hammer(element).on("swiperight", function(event) {
	        $(".entypo-left-open-big").click();
	    }); 
	  });

  </script>

  <script>
	  $(document).ready(function(){
	  	var myScroll = new IScroll('#slide-nav', {scrollX: true, scrollY:false, mouseWheel:true, scrollbars: true, preventDefault: true});

			$('.slide-nav-open').on('click', function(e) {
		      $('.slide-nav').slideToggle('fast'); //you can list several class names

		      var widths = $('.slide-nav li').map(function() { return $(this).width() }).toArray();
		      var finalWidth = widths.reduce(function(sum, i) { return sum + i; });

		      $(".scroller").width(finalWidth);
		      myScroll.refresh();
		  });	
		  
		});
	</script>




  

	

	






