<nav class="top-bar">
<% if user_signed_in? %>
    <div class="container">
        <ul id="gn-menu" class="gn-menu-main">
          <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
              <div class="gn-scroller">
                <ul class="gn-menu">
                  <li>
                    <%= link_to "Add New Deck", new_project_path, :class => 'gn-icon gn-icon-plus' %>
                  </li>
                  <li>
                    <%= link_to "Decks", root_path, :class =>"gn-icon gn-icon-folder-open" %>
                  </li>
                  <li><%= link_to "Profile", edit_user_registration_path, :class => 'gn-icon gn-icon-user' %></li>
                  <li><%= link_to "FAQ", faq_path, :class =>"gn-icon gn-icon-question" %></li>
                  <li><%= link_to "Browse Projects", browse_projects_path, :class =>"gn-icon gn-icon-browse" %></li>
                  <li><%= button_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'gn-icon gn-icon-unlock-alt' %></li>
                </ul>
              </div><!-- /gn-scroller -->
            </nav>
          </li>
            <li><%= link_to image_tag("podium_logo_black.png"), root_path, class: "logo" %></li>
            <li class= "current-user"><%= link_to (image_tag "profile_pic.png"), "#", :class => 'sample-profile' %><%= current_user.name %></li>
        </ul>
    </div>


<% else %>

    <div class="container">
        <ul id="gn-menu" class="gn-menu-main">
          <li><%= link_to image_tag("podium_logo_black.png"), root_path, class: "logo" %></li>
          <li class= "current-user"><%= link_to "Login", new_user_session_path %></li>
        </ul>
    </div>

<% end %>
</nav>


 
     